*,div{
	margin: 0px;
	/*padding: 0px;*/
}
body{
	font-family: "微软雅黑";
	overflow-x: hidden;
}
.container{
	padding: 0px;
	/*margin: 0px;*/
}
h1{
	font-family: "微软雅黑";
	font-size: xx-large;
}
#left_title{
	border-bottom:2px solid #389AC7 ;
	padding-bottom: 2px;width: 140px;
}
/*进度条的线*/
#progress_line{
width: 56%;
border: 2px solid #389ac7;
top: 34%;
left: 200px;
position: absolute;
padding: 0px;
margin: 0px;
}
/*进度条的状态*/

/*进度条数据显示*/
#number{
	/*border: 1px solid red;*/
	width: 105%;
	margin-left: 78px;
}
#number li{
	position: relative;
	list-style: none;
	color: #f69d1f;
	float: left;
	width: 115px;
	margin-left: 34px;
	margin-top: 1.0%;
}

#state{
	width: 90%;
	height: 78px;
	margin-left: 130px;
	/*border: 1px solid blue;*/
}
#state img{
	margin-left:0px ;
	float: left;
}
.state_mes{
	width:20%;margin-top: 0%;margin-left: 78%;padding: 0px;border: none;color: #f69d1f;
}

/*进度条文本信息显示*/
#txt{
	width: 100%;
	margin-left: 72px;
	margin-top: -2%;
}
#txt li{
	position: relative;
	list-style: none;
	color: #f69d1f;
	float: left;
	width: 120px;
	margin-left: 30px;
	margin-top: -1%;
}

/*引入图片嫌疑人*/
#img_1{width: 45%; height: 42%; -webkit-box-shadow: 0px 2px 0px rgba(0,1,1,0.7);}
#img_2{width: 53%; height: 90%; -webkit-box-shadow: 2px 4px 4px rgba(0,1,1,0.7);}


span{
	color: #71b8fa;
	margin-left: 2%;
}
h1{
	font-family: '微软雅黑';
	color: #FFFFFF;
	margin-left: 18%;
	margin-top: -8%;
	text-shadow: 0 2px #000000;
	position: absolute;
	z-index: 60;
}
h3{
	font-family: '微软雅黑';
	color: #FFFFFF;
	margin-left: 18%;
	margin-top: -8%;
	text-shadow: 0 2px #000000;
	position: absolute;
	z-index: 60;
	/*font-size: 24px;*/
	margin-top: -3%;
}
h4{
	padding: 0px;
	margin: 0px;
	/*margin-top: -1%;*/
}
h5{ 
	/*position: absolute;*/
	border-bottom: 1.5px solid #71b8fa; 
	padding-bottom: 1%;
	margin-top: 0%;
	/*color: #389AC7;*/
	/*margin-left: -84%;*/
	display: inline-block;	
}
/*所有input标签属性设置*/
input{
	border: none;
	background: #f1f1f1;
}

textarea{
	overflow: hidden;resize: none;width: 40%;height: 50px;
	border:1.5px solid #c1c1c1;
	-webkit-box-shadow:1px 1px 2px rgba(54,156,199,0.8)inset;
	
}
.Message input{
	width: 50%;
}
/*身份证信息表*/
.Message{
	margin-left: -1.7%;
	margin-top: -2%;
	width: 75%;
	height: 90%;
	padding: 0px;
	font-size: initial;
	color: #389AC7;
	/*border: 1px solid #1B6D85;*/
	
}

.human_Mes{
	width: 100%;
	margin-top: 4%;
	height: 36px;
	color: #f69d1f;
	line-height: 30px;
	background:#f1f1f1;
	-webkit-box-shadow:2px 4px 4px rgba(0,0,0,0.8);
}

.pic{
	margin-top: 1%;
}
.indenty_ID{
	width: 75%;
	height: 30px;
	margin-left: -5%;
	margin-top: -2%;
	line-height: 30px;
	background:#f1f1f1;
	-webkit-box-shadow:2px 4px 4px rgba(0,0,0,0.8);
}
/*身份证照下方文字信息*/
.info_id{
	background: #389ac7;
	width: 98%;
	margin-left: 0%;
	/*margin-top: -1%;*/
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
/*照片正面,侧面下方文字信息*/
.date_pic{
	background: #389ac7;
	width: 98.5%;
	height: 30%;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	margin-top: 0.2%;
	-webkit-box-shadow: 2px 3px 4px rgba(0,1,1,0.8);
}


/*活动检查登记表*/

.active_check{
	margin-top: 3%;
	margin-left: 9%;
	width: 80%;
	font-size: inherit;
}
.active_check tr td{
	height: 30px;
	border: 1px solid #389AC7;
	text-align: center;
}
/*设置select所在列的宽度*/
#select{
	width: 10%;
}
#delete{
	margin-left: 10%;
	color: #F69D1F;
}
/*设置活动记录表格下方备注信息*/
.row_1{
	margin-left: 10%;
	margin-top: 2%;
}
.row_2{
	margin-left: 12%;
	margin-top: 2%;
}
/*添加,删除行数据操作*/
.btn{
	width:40px ;
}

#btn_save{
	height: 36px;width:10%;background: #389AC7;
	border-radius: 4px;text-align: center;color: #FFFFFF;
	font-size: initial;margin-left: 8%;margin-top: 20px;
}
/*提交button*/
.sub{
width: 15%;
background: #389AC7;
color: #ffffff;
border: none;
height: 40px;
margin-left: 41%;
line-height: 40px;
margin-top: 5%;
border-radius: 4px;
}