<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 加载配置文件 -->
	<!-- <context:property-placeholder location="classpath:config.properties" /> -->
	<!-- 加载配置文件，关于数据库的文件应该对外访问隐藏 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/config.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 扫描service自动注入为bean -->
	<context:component-scan base-package="com.haifeiWu" />
	
	<!--DispatcherServlet上下文-->
    <!-- DispatcherServlet上下文， 只管理@Controller类型的bean， 忽略其他型的bean, 如@Service -->
    <!--控制器和请求之间发生一些联系-->
    <context:component-scan base-package="com.haifeiWu">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan> 
</beans>