*,div {
	margin: 0px;
	/*padding: 0px;*/
}

body {
	font-family: "微软雅黑";
	overflow-x: hidden;
}

.container {
	padding: 0px;
	/*margin: 0px;*/
}

h1 {
	font-family: "微软雅黑";
	font-size: xx-large;
}

.htitle {
	margin-top: 13px;
}

.htitle b {
	color: #389ac7;
}

#left_title {
	border-bottom: 2px solid #389AC7;
	padding-bottom: 2px;
	width: 140px;
}
/*进度条的线*/
#progress_line {
	width: 56%;
	border: 2px solid #389ac7;
	top: 34%;
	left: 200px;
	position: absolute;
	padding: 0px;
	margin: 0px;
}
/*进度条的状态*/
/*#state div{
	width: 30px;
	height: 30px;
	float: left;
	background: #fff;
	border: 4px solid #389ac7;
	border-radius: 30px;
}*/
#arrow {
	position: absolute;
	width: 0px;
	height: 0px;
	margin-left: 904px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 15px solid #389ac7;
	margin-top: -33px;
}
/*进度条数据显示*/
#number {
	/*border: 1px solid red;*/
	width: 105%;
	margin-left: 78px;
}

#number li {
	position: relative;
	list-style: none;
	color: #f69d1f;
	float: left;
	width: 106px;
	margin-left: 45px;
	margin-top: 1.0%;
}

/*进度条状态,以后使用的时候再打开即可*/
#state {
	width: 95%;
	height: 78px;
	margin-left: 130px;
	/*border: 1px solid blue;*/
}

#state img {
	margin-left: 0px;
	float: left;
}

/*进度条文本信息显示*/
#txt {
	width: 105%;
	margin-left: 210px;
	margin-top: -2%;
}

#txt li {
	position: relative;
	list-style: none;
	color: #f69d1f;
	float: left;
	width: 98px;
	margin-left: 50px;
	margin-top: -1%;
}
#img_1 {
	margin-left: 17%;
	width: 120px;
	height: 156px;
	-webkit-box-shadow: 0px 2px 0px rgba(0, 1, 1, 0.7);
	-moz-box-shadow: 0px 2px 0px rgba(0, 1, 1, 0.7);
	box-shadow: 0px 2px 0px rgba(0, 1, 1, 0.7);
}
#img_2 {
	width: 120px;
	height: 156px;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 1, 1, 0.7);
	-moz-box-shadow: 0px 2px 0px rgba(0, 1, 1, 0.7);
	box-shadow: 0px 2px 0px rgba(0, 1, 1, 0.7);
}

/*引入图片嫌疑人*/
.left_title {
	height: 500px;
	padding: 0px;
}

span {
	color: #71b8fa;
	margin-left: 2%;
}

h1 {
	font-family: '微软雅黑';
	color: #FFFFFF;
	margin-left: 18%;
	margin-top: -8%;
	text-shadow: 0 2px #000000;
	position: absolute;
	z-index: 60;
}

h3 {
	font-family: '微软雅黑';
	color: #FFFFFF;
	margin-left: 18%;
	margin-top: -8%;
	text-shadow: 0 2px #000000;
	position: absolute;
	z-index: 60;
	margin-top: -3%;
}

h4 {
	padding: 0px;
	margin: 0px;
}

h5 {
	border-bottom: 1.5px solid #71b8fa;
	padding-bottom: 1%;
	margin-top: 0%;
	display: inline-block;
}
/*所有input标签属性设置*/
input {
	border: none;
	background: #f1f1f1;
}

textarea {
	overflow: hidden;resize: none;
	width: 88%;
	height: 60px;
	border:1.5px solid #c1c1c1;padding: 0px;margin: 0 auto; 
	position: relative;left: 6%;text-align: center;
}

#nAddress {
	overflow: hidden;resize: none;
	width: 88%;
	height: 60px;
	border:1.5px solid #c1c1c1;padding: 0px;margin: 0 auto; 
	position: relative;left: 6%;text-align: center;
	-webkit-box-shadow:1px 1px 2px rgba(54,156,199,0.8)inset;
	-moz-box-shadow:1px 1px 2px rgba(54,156,199,0.8)inset;
	box-shadow:1px 1px 2px rgba(54,156,199,0.8)inset; 
}


.Message input {
	width: 50%;
}

.record_num {
	/*width: 98%;*/
	padding: 0px;
	border-bottom: 1.5px solid #389ac7;
	padding-bottom: 5px;
	margin-top: 15%;
	display: inline-block;
}

/*数据文本标记*/
.identity_card {
	margin-top: 1%;
	margin-left: -66%;
	color: #f69d1f;
	position: absolute;
}

.commit {
	margin-top: 1%;
	margin-left: -49%;
	color: #f69d1f;
	position: absolute;
}

.case {
	margin-top: 1%;
	margin-left: -29%;
	color: #f69d1f;
	position: absolute;
}

.sure {
	margin-top: 1%;
	margin-left: -10%;
	color: #f69d1f;
	position: absolute;
}

.pic {
	margin-top: 1%;
}

.indenty_ID {
	width: 75%;
	height: 30px;
	margin-left: -5%;
	margin-top: -2%;
	line-height: 30px;
	background: #f1f1f1;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8); /*兼容火狐*/
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8); /*兼容opera或者ie9以上*/
}

.info_id {
	background: #389ac7;
	height: 30px;
	width: 95px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	position: relative;
	top: -10px;
}
.date_pic {
	background: #389ac7;
	width: 246px;
	height: 40px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	position: relative;
	left: 61px;
	margin: 0px;
	font-size: 12px;
	-webkit-box-shadow: 2px 3px 4px rgba(0, 1, 1, 0.8); /*兼容谷歌*/
	-moz-box-shadow: 2px 3px 4px rgba(0, 1, 1, 0.8); /*兼容火狐*/
	box-shadow: 2px 3px 4px rgba(0, 1, 1, 0.8); /*兼容opera或者ie9以上*/
}
/*身份证信息表*/
.Message {
	margin-left: -1.7%;
	margin-top: -2%;
	width: 75%;
	height: 90%;
	padding: 0px;
	/*border: 1px solid #1B6D85;*/
}
/*身份证信息的行与列*/
.Message tr td {
	padding: 0px;
	/*border: 1.5px solid #389ac7;*/
	height: 10px;
}

.human_Mes {
	width: 100%;
	margin-top: 4%;
	height: 30px;
	color: #f69d1f;
	line-height: 30px;
	background: #f1f1f1;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8); /*兼容谷歌*/
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8); /*兼容opera或者ie9以上*/
}
/*人员联系表格框架*/
.Mes_tab {
	border: 1.5px solid #389ac7;
	-webkit-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容谷歌*/
	-moz-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容火狐*/
	box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容opera或者ie9以上*/
	margin-top: 1.5%;
}

.Mes_tab tr td {
	border: 1.5px solid #389ac7;
}

.Mes_case tr td {
	border: 1.5px solid #389ac7;
}

.signatuer_Mes tr td {
	border: 1.5px solid #389ac7;
}
/*进入办案区信息表*/
.Mes_case {
	border: 1.5px solid #389ac7;
	-webkit-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容谷歌*/
	-moz-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容火狐*/
	box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容opera或者ie9以上*/
	margin-top: 1.5%;
	height: 30%;
}

/*干警签名*/
.signatuer_Mes {
	border: 1.5px solid #389ac7;
	-webkit-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容谷歌*/
	-moz-box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容火狐*/
	box-shadow: 2px 1px 1px rgba(56, 150, 180, 0.6); /*兼容opera或者ie9以上*/
	margin-top: 1.5%;
	width: 80%;
	height: 30%;
}

.btn {
	width: 12%;
	height: 36px;
	color: #fff;
	background: #389ac7;
	margin-left: 2%;
	margin-top: 1.5%;
	float: left;
	border: none;
}

ol li {
	list-style: none;
	width: 25%;
	float: left;
}

.head_title {
	background: -webkit-linear-gradient(left, rgba(0, 6, 251, 1) 0%,
		rgba(0, 6, 251, 0.7) 65%, rgba(0, 6, 251, 0.1) 100%);
	background: -o-linear-gradient(left, rgba(0, 6, 251, 1) 0%,
		rgba(0, 6, 251, 0.7) 65%, rgba(0, 6, 251, 0.1) 100%);
	background: -moz-linear-gradient(left, rgba(0, 6, 251, 1) 0%,
		rgba(0, 6, 251, 0.7) 65%, rgba(0, 6, 251, 0.1) 100%;
}

/*最新设置human_Mes下的span-------------------------------最新修改*/
.human_Mes span {
	color: rgb(211, 26, 23);
	font-size: small;
	margin-left: 90%;
	margin-top: -28px;
}