body{
	font-family: "微软雅黑";
	overflow-x: hidden;
}
.container{
	padding: 0px;
	/*margin: 0px;*/
}
h1{
	font-family: "微软雅黑";
	font-size: xx-large;
}
.play{
	background: rgba(0,0,0,0.6);
	padding-top: 20px;
	display: none;
}
.show1:hover .play{
	display: block;
}


#left_title{
	border-bottom:2px solid #389AC7 ;
	padding-bottom: 2px;width: 140px;
}
/*嫌疑人搜索文字*/
#txt_search{
width: 11%;
height: 40px;
float: left;
background: #389AC7;
margin-top: 3%;
border-radius: 4px;
color: #ffffff;
text-align: center;
line-height: 40px;
font-size: initial;
margin-left: 17%;

}
/*.search{
	margin-left: 12%;
}*/
#search{
	border: 2px solid #389AC7;
	height: 40px;
	width: 500px;
	float: left;
	margin-left: 0%;
	margin-top: 3%;
	border-radius: 6px;
	/*-moz-border-radius-bottomright: 6px;*/
}


#btn_search{
width: 50px;
height: 40px;
float: left;
/*border: 1px solid red;*/
background: #389AC7;
margin-top: 3%;
border-radius: 4px;
margin-left: 0%;
/*z-index: 100;*/
}
#btn_search img{
	width: 62%;
	margin-left: 3%;
	margin-top: 5%;
}

.st_search .serachImg{
	width: 45px;
    height: 40px;
    float: left;
    /* border: 1px solid red; */
    background: #389AC7;
    margin-top: 3%;
    border-radius: 4px;
    margin-left: 0%;
    /* width: 62%; */
    margin-left: 0%;
    margin-top: 3%;
}
.human_Mes{
	width: 100%;
	margin-top: 2%;
	height: 30px;
	color: #f69d1f;
	line-height: 30px;
	background:#f1f1f1;
	-webkit-box-shadow:2px 4px 4px rgba(0,0,0,0.8);
	-moz-box-shadow:2px 4px 4px rgba(0,0,0,0.8);  /*兼容谷歌*/
	box-shadow:2px 4px 4px rgba(0,0,0,0.8); /*兼容opera或者ie9以上*/
	
}
/*设置待查嫌疑人表格样式*/
.wait_check{
	width: 97%;
	margin-left: 4%;
	margin-top: 2%;
}
.wait_check tr td{
/*border: 1px dashed #00A4AC;*/
height: 120px;
text-align: center;
}
.wait_check img{
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.8); /*兼容谷歌*/
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.8); /*兼容火狐*/
	box-shadow: 2px 2px 4px rgba(0,0,0,0.8);	/*兼容opera或者ie9以上*/
}
.wait_check p{
	background: #0070c0;
	height: 50px;
	width: 150px;
	align:center; 
	line-height:50px;
	color: #FFFFFF;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.8); /*兼容谷歌*/
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);	/*兼容火狐*/
	box-shadow: 2px 2px 4px rgba(0,0,0,0.8);	/*兼容opera或者ie9以上*/
}
.wait_check p a{
color:#080808;
font-size:large;
}
a:active{
color: #FFFFFF;
}
#more{
margin-top: 1%;
margin-left: 87%;
font-size: large;
color: #389AC7;
}

#smore{
margin-top: 1%;
margin-left: 87%;
font-size: large;
color: #f69d1f;
}
/*历史嫌疑人查询*/
.total{
	width: 100%;
	margin:0px;
	padding: 0px;
	margin-top: 2%;
	background: #0070c0;
	color:#FFFFFF ;
	border: 1px solid #389ac7;
}

.total li{
	/*width: 25%;*/
	height: 34px;
	margin:0px;
	padding: 0px;
	text-align: center;
	line-height: 34px;
	background: #0070c0;
	border: 1px solid #389ac7;
	float: left;list-style: none;
}
.total input{
	text-align:center;
	width:25px;
	height:30px;
	background:#0070c0;
	color:#e0b511;
	font-size:large;
	border: none;
}
.All_total{
	width: 100%;
	margin-top: 2%;
}
.All_total tr td{
	border: 1px solid #389AC7;
	height: 30px;
	text-align: center;
}

/*最新设置human_Mes下的span-------------------------------最新修改*/
.human_Mes span{
	color: rgb(211, 26, 23);
	font-size: small;
	margin-left: 90%;
	margin-top: -28px;
}
