*,div{
	margin: 0px;
	/*padding: 0px;*/
}
body{
	font-family: "微软雅黑";
	overflow-x: hidden;
}
.container{
	padding: 0px;
	/*margin: 0px;*/
}
h1{
	font-family: "微软雅黑";
	margin-left: 21%;
	margin-top: -1%;
	letter-spacing: 6px;
	font-size: xx-large;
	/*margin: 0px;*/
	padding: 0px;
}
/*设置标题中警徽的img 大小*/
h1 img{
	width: 8%;
	margin-left: -2%;
}
/*档案编号与报告时间*/
.report li {
	list-style: none;
	float: left;
	width: 33%;
	/*border: 1px dashed #0000FF;*/
	font-size: larger;
	color: #389ac7;
	margin-top: 2%;
	margin-left: 15%;
}
#left_title{
	border-bottom:2px solid #389AC7 ;
	padding-bottom: 2px;width: 140px;
}
/*进度条的状态*/

#arrow{
	position: absolute;
	width: 0px;
	height: 0px;
	margin-left: 904px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 15px solid #389ac7;
	margin-top: -33px;
}
/*进度条数据显示*/
#number{
	/*border: 1px solid red;*/
	width: 105%;
	margin-left: 94px;
}
#number li{
	position: relative;
	list-style: none;
	color: #389AC7;
	float: left;
	width: 106px;
	margin-left: 45px;
	margin-top: 1.0%;
}

/*进度条状态,以后使用的时候再打开即可*/
#state{
	width: 95%;
	height: 78px;
	margin-left: 130px;
}
#state img{
	margin-left:0px ;
	float: left;
}
.state_mes{
	width:20%;margin-top: 0%;margin-left: 78%;padding: 0px;border: none;color: #f69d1f;
}

/*下载全部信息链接*/
#download_All{
	margin-left: 86%;
    padding: 5px;
}

/*进度条文本信息显示*/
#txt{
	width: 100%;
	margin-left: 50px;
	margin-top: -2%;
}
#txt li{
	position: relative;
	list-style: none;
	color: #389AC7;
	float: left;
	width: 111px;
	margin-left: 38px;
	margin-top: -1%;
}
/*嫌疑人信息表设置*/
/*引入图片嫌疑人*/
/*嫌疑人信息表设置*/
/*引入图片嫌疑人*/
#img_1{width: 111px; height:146px; margin-left:22%;
	-webkit-box-shadow: 0px 2px 0px rgba(0,1,1,0.7); /*兼容谷歌*/
	-moz-box-shadow: 0px 2px 0px rgba(0,1,1,0.7);	/*兼容火狐*/
	box-shadow: 0px 2px 0px rgba(0,1,1,0.7);	/*兼容opera或者ie9以上*/
}
#img_2{width: 111px; height: 146px; 
	-webkit-box-shadow: 2px 4px 4px rgba(0,1,1,0.7); /*兼容谷歌*/
	-moz-box-shadow: 0px 2px 0px rgba(0,1,1,0.7);	/*兼容火狐*/
	box-shadow: 0px 2px 0px rgba(0,1,1,0.7); /*兼容opera或者ie9以上*/
}


.left_title{
	height: 500px;
	padding: 0px;
}

span{
	color: #71b8fa;
	margin-left: 2%;
}
/*显示信息设置*/
.show{
	font-size: small;color: #389AC7;margin-top: -30px;margin-left: 94%;cursor: pointer;
}
.show1{
	font-size: small;color: #389AC7;float:left;margin-top: -30px;margin-left: 94%;cursor: pointer;
}
.show2{
	font-size: small;color: #389AC7;float:left;margin-top: -30px;margin-left: 94%;cursor: pointer;
}
.show3{
	font-size: small;color: #389AC7;float:left;margin-top: -30px;margin-left: 94%;cursor: pointer;
}
.show4{
	font-size: small;color: #389AC7;float:left;margin-top: -30px;margin-left: 94%;cursor: pointer;
}
h4{
	padding: 0px;
	margin: 0px;
	/*margin-top: -1%;*/
}

/*1.1身份证信息*/
#ID_Mes{
	padding: 0px;color: #f69d1f;margin-top: 8%;
}

/*所有input标签属性设置*/
input{
	border: none;
	background: #f1f1f1;
}

textarea{
	overflow: hidden;resize: none;width: 40%;height: 50px;
	/* border:1.5px solid #c1c1c1;
	-webkit-box-shadow:1px 1px 2px rgba(54,156,199,0.8)inset; */
}
.Message input{
	width: 50%;
	
}
.record_num{
	/*width: 98%;*/
	padding: 0px;
	border-bottom:1.5px solid #389ac7 ;
	padding-bottom: 5px;
	margin-top: 15%;
	display: inline-block;
}

.pic{
	margin-top: 1%;
}
.indenty_ID{
	width: 75%;
	height: 30px;
	margin-left: -5%;
	margin-top: -2%;
	line-height: 30px;
	background:#f1f1f1;
	-webkit-box-shadow:2px 4px 4px rgba(0,0,0,0.8);
}
.info_id{
	background: #389ac7;
	width: 95px;
	margin-left: 14%;
	/*margin-top: -1%;*/
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.date_pic{
	background: #389ac7;
	width:229px;
	height: 40px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	margin-top: 0.2%;
	left:67px;
	
	-webkit-box-shadow: 2px 3px 4px rgba(0,1,1,0.8); /*兼容谷歌*/
	-moz-box-shadow: 2px 3px 4px rgba(0,1,1,0.8); /*兼容火狐*/
	box-shadow: 2px 3px 4px rgba(0,1,1,0.8);	/*兼容opera或者ie9以上*/
}
/*身份证信息表*/
.Message{
	margin-left: -6.7%;
	margin-top: -2%;
	width: 75%;
	/*height: 90%;*/
	padding: 0px;
	color: #389AC7;
	
	/*border: 1px solid #1B6D85;*/
	
}
/*身份证信息的行与列*/
.Message tr td{
	padding: 0px;
	/*border: 1.5px solid #389ac7;*/
	height: 6px;
}
.human_Mes{
	width: 100%;
	margin-top: 2%;
	height: 30px;
	color: #f69d1f;
	line-height: 30px;
	background:#f1f1f1;
	-webkit-box-shadow:2px 4px 4px rgba(0,0,0,0.8);
	-moz-box-shadow:2px 4px 4px rgba(0,0,0,0.8);  /*兼容谷歌*/
	box-shadow:2px 4px 4px rgba(0,0,0,0.8); /*兼容opera或者ie9以上*/
	
}
.human_Mes span{
	cursor: pointer;
}
/*人员联系信息表*/
#people_Mes{
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	
}
#people_Mes tr td{
	border: 1px solid #389AC7;
	height: 30px;
}

.communite_Mes{
	border-bottom: 1px solid #389AC7; padding-bottom: 3px;color: #f69d1f;width: 14%;
}
/*自述情况*/
.self_state{
	border-bottom: 1px solid #389AC7; padding-bottom: 3px;
	color: #f69d1f;width: 13%;margin-top: 1%;
}

.checkbox{
	position: relative;
	display: block;
	margin-top: 50px;
	margin-left: -2%;
	font-size: 16px;
}
.checkbox li{
	float: left;
	list-style: none;
	width: 39%;
	height: 25px;
	margin-left: -34px;
}
.checkbox input{
	height: 23px;
	margin-left: 15px;
}
/*体检表样式*/
.check{
border-bottom: 1px solid #389AC7;
padding-bottom: 3px;
color: #f69d1f;
width: 17%;
margin-top: 2%;
margin-left: 0%;
float: inherit;
}
/*检查情况表信息样式*/
.checked_state{
	margin-top: 0%;
	font-size: 15px;
	color: 0;
	font-size: large;
}
.checked_state tr td{
	/*border: 1px solid #389AC7;*/
	padding: 0px;
	
}
.checked_state tr input[type='text']{
	border: none;
	margin-left: 0%;
	border-bottom: 1.5px solid #389AC7;
	
}

fieldset textarea{
	width: 60%;
	height: 120px;
	margin-left: 7%;
}

/*随身财物检查情况*/
.check_woods{
border-bottom: 1px solid #389AC7;
padding-bottom: 3px;
color: #f69d1f;
width: 19%;
margin-top: 1%;
/*float: inherit;*/
}
/*随身物品检查登记表*/
.woods_check{
	margin-top: 0%;
	margin-left: 9%;
	width: 80%;
	text-align: center;
}
.woods_check tr td{
	height: 30px;
	border: 1px solid #389AC7;
	text-align: center;
}
.signature{
	margin-top: 1%;
}
.signature li{
	list-style: none;
	float: left;
	margin-left: 14%;
}
.signature li input{
	border: none;
	margin-left: 1%;
	border-bottom: 1.5px solid #389AC7;
	background: #fff;
	padding-bottom: 2px;
}

/*信息采集报告*/
.info_collect{
width: 87%;
margin-top: 2%;
color: 0;
}
.info_collect tr{
	border-bottom: 1px solid #389AC7;
	height: 36px;
}

/*办案区活动记录*/

/*活动检查登记表*/

.active_check{
	margin-top: 3%;
	margin-left: 9%;
	width: 80%;
	font-size: inherit;
}
.active_check tr td{
	height: 30px;
	border: 1px solid #389AC7;
	text-align: center;
}
/*设置select所在列的宽度*/
#select{
	width: 10%;
}
/*离开办案区登记*/
.transient_Leave{
	margin-top: 0%;
	margin-left: 9%;
	width: 80%;
	font-size: inherit;
}
.transient_Leave tr td{
	height: 36px;
	border: 1px solid #389AC7;
	text-align: center;
}
/*设置select所在列的宽度*/
#select{
	width: 10%;
}

/*暂时离开办案区表格信息登记*/
.transient_Leave{
	margin-top: 0%;
	margin-left: 9%;
	width: 80%;
	font-size: inherit;
}
.transient_Leave tr td{
	height: 36px;
	border: 1px solid dodgerblue;
	text-align: center;
}
/*最终离开办案区的时间表样式设置*/
.final_Leave{
	margin-top: 0%;
	margin-left: 4%;
	width: 91%;
	font-size: inherit;
}
.final_Leave tr td{
	height: 36px;
	border: 1px solid dodgerblue;
	text-align: center;
}
.final_Leave textarea{
	width: 100%;
	height: 80px;
}

/*嫌疑人羁押时间*/
#detain_time{
	font-size: large;color: #f69d1f;text-align: center;
}
#detain_time input{
	width: 5%;

}


/*管理员签名*/
#signature{
	font-size: large;color: #389AC7;text-align: center;
	margin-top: 2%;
}
#signature input{
	border: none;margin-left: 1%;border-bottom: 1.5px solid #389AC7;background: #fff;
}

/*下载*/
#download{
	background: #389AC7; color: #FFFFFF;width: 10%;height: 30px;
	border-radius: 2px;margin-left: 35%;margin-top: 5%;
}
#print{
	background: #389AC7; color: #FFFFFF;width: 10%;
	height: 30px;border-radius: 2px;margin-left: 10%;
}


	
